.side__container{
    height: 100%;
    background-color: white;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-top-right-radius: 5px;
    /* border: 1px solid lightgray;
    border-radius: 6px; */
}


.side__title{
    padding-top: 10px;
    color: gray;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}

.side__menu{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.side__menu__item{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 200px;
    height: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 70%;
    cursor: pointer;
    animation-duration: 500ms;
    transition: all;
    animation: ease-in-out;
}

.side__menu__item:hover{
    background-color: rgb(211, 214, 218);
    
}


.side__menu__item > p{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(74, 74, 74);
    
}

.link{
    text-decoration: double !important;
    color: inherit;
}